.home-container {
  height: 2000px;
  position: relative;
  .home-top {
    .content-top {
      padding-top: 80px;
      height: 500px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: center;
      display: block;
      background-image: url("https://wallpaperaccess.com/full/5487974.jpg");
      .content {
        position: absolute;
        width: 100%;
        .btn-category {
          color: rgb(255, 255, 255);
          height: 35px;
          border: 1px solid white;
          width: 100px;
          font-size: 15px;
          margin: 20px 70px 20px;
          display: flex;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.12);
          }
          p {
            margin: 0;
            padding: 5px;
          }
          .icon-angle-down {
            padding: 7px;
            font-size: 17px;
          }
        }
        .category {
          margin: 20px 70px;
          width: 55%;
          background-color: rgba(0, 0, 0, 0.42);
          display: none;
          color: rgb(255, 255, 255);
          transform: translateY(30px);
          text-shadow: 0px 0.3px 0.8px rgba(0, 0, 0, 0.049),
            0.1px 0.6px 1.9px rgba(0, 0, 0, 0.071),
            0.2px 1.2px 3.5px rgba(0, 0, 0, 0.087),
            0.3px 1.9px 5.8px rgba(0, 0, 0, 0.103),
            0.5px 3.2px 9.5px rgba(0, 0, 0, 0.119),
            0.9px 5.5px 16.6px rgba(0, 0, 0, 0.141),
            2px 12px 36px rgba(0, 0, 0, 0.19);
          ul {
            margin: 15px;
            li {
              margin: 10px;
              cursor: pointer;
              &:hover {
                border-bottom: 1px solid white;
              }
            }
          }
        }
      }
    }
  }
  .main {
    width: 90%;
    margin: auto;
    max-width: 1350px;
    .main-content {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .menu-right {
        width: 24%;
        background-color: rgb(238, 238, 238);

      }
      .content {
        width: 75%;
        .menu-content{
          display: flex;
          text-align: center;
          background-color: rgb(238, 238, 238);
          border: 1px solid rgb(230, 230, 229);
          p{
            cursor: pointer;
            margin: 0 20px;
            // margin-bottom: 3px;
            height: 100%;
            padding: 10px;
            width: 90px;
            &:hover{
              border-bottom: 3px solid rgb(102, 179, 231);
              margin-bottom: 0px;
            }
          }
          
          .option{
            margin-bottom: 0px;
          }
          .optionChoose{
            border-bottom: 3px solid rgb(102, 179, 231);
            margin-bottom: 0px;
          }
        }
        .products{
          // background-color: rgb(238, 238, 238);
          .product{
            flex-wrap: wrap;
            justify-content: space-around;
            display: flex;
          }
        }
      }
    }
  }
}
